.github
.devcontainer
.eslintignore
.eslintrc.json
.git
.gitignore
.gitlab-ci.yml
.husky
.npmignore
.prettierrc.json
.vscode
.DS_Store
Makefile
README.md
jest.config.js
jest.helper.ts
jest.init.ts
package-lock.json
package.json
tsconfig.json
node_modules/
src/
test/
